header nav .menu-tab {
    float: left;
}

.menu-tab {
    text-align: left;
    padding: 4px;
}

.nav-button {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.nav-button:hover {
    color: #c0c0c0;
}

.nav-button:active {
    color: #fff;
}

.nested_nav {
    float: none;
    padding: 5px;
    width: 200px;
}