body {
    background-color: #000;
    color: #fff;
}

.menu-tab {
    text-align: left;
    float: left;
    padding: 4px;
}

.nav-button {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.nav-button:hover {
    color: #c0c0c0;
}

.nav-button:active {
    color: #fff;
}

main {
    clear: both;
    height: fit-content;
}

iframe {
    width: 100%;
    min-height: 1000px;
    height: 100%;
    border: none;
}