body {
    background-color: #000;
    color: #fff;
}

#app {
    clear: both;
    padding: 5px;
}

main {
    height: fit-content;
    padding: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    grid-template-rows: auto;
}
